$title-font: 'Palette Mosaic', cursive;
$text-font: 'Abril Fatface', cursive;
$pixel-font: 'Press Start 2P', cursive;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    color: black;
    font-family: $pixel-font;
    div{
        overflow: auto;
        nav li{
            background-color: burlywood;
            opacity: 0.8;
            &:hover{
                background-color: darkgoldenrod;
                opacity: 1;
            }
        }
        header{
            margin: 20px;
            padding: 100px; 
            border: black 15px double;
            text-align: center;
            h1{
                font-family: $title-font;
                font-weight: bold;
                font-size: 150px;
                .animate__animated .animate__fadeInUp{
                    animation: fadeinup;
                    animation-duration: 5s;
                }
            }
        }
    }
    main{
        font-family: $text-font;
        overflow: auto;
        display: inline-block;
        section{
            overflow: auto;
            padding: 20px;
            display: inline-block; 
        }
    }
}
footer {
    h4{
    font-size: 20px;
    text-align: center;
    font-family: $text-font;
    }
    a{    
        font-family: $pixel-font;
    }
} 
.app{
    text-align: center;
    font-family: $pixel-font;
    margin-left: 90%;
    overflow: auto;
    display: inline-block;
    position: fixed;
    top: 0;
    transition: all 2s;
    &:hover{
        transform: translate(-80px);
    }
}
@import "_bandhistory.scss";
@import "_discography.scss";
@import "_videos.scss";
@import "_contact.scss";

/*estilo <1024px*/
@media only screen and (max-width: 1024px){
    /*All*/
    h1,h2,a,footer{
        font-size: smaller;
    }
    footer{
        text-align: center;
    }
    .app{
        display: none;
    }
}